@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    text-decoration: none;
    outline: none;
}

/* Smooth scroll */
html{
    scroll-behavior: smooth;
    font-size: 62.5%;
    overflow-x: hidden;
}

body{
    overflow: hidden;
    transition: .2s linear;
}
p{
    font-size: 1.5rem;
}
.container{
    max-width: 130rem;
    padding: 0rem;
    margin: auto;
    z-index: 10;
}
.text-secondary{
    color: #FEC544;
}

.text-center{
    text-align: center;
}
.m-heading{
    font-size: 3.2rem;
    margin-bottom: 1.2rem;
}

/* .menu-btn{
    color: #fff;
    cursor: pointer;
    display: none;
} */

/* .list{
    margin: 16px 0;
    list-style: none;
}

.list li{
    padding: 8px 0;
}

.list li span{
    padding-left: 50px;
} */

.btn-md{
    display: inline-block;
    background: #FEC544;
    color: #08080A;
    font-size: 2.5rem;
    font-weight: bold;
    padding: 0.8rem 3.6rem;
    margin-top: 2rem;
    border-radius: 5rem;
    border: 0.2rem solid #FEC544;
    transition: all 0.3s ease;
}
.btn-md:hover{
    color: #FEC544;
    background: none;
}

.download_cv{
    display: flex;
  
}
.cv{
    display: flex;
    justify-content: space-between;
    font-size: 1.5rem;
    background: #FEC544;
    color: #08080A;
    font-weight: bold;
    padding: 0.8rem 3.6rem;
    margin-top: 2rem;
    margin-left: 1rem;
    border-radius: 5rem;
    border: 0.2rem solid #FEC544;
    transition: all 0.3s ease;
}
.cv:hover{
    color: #FEC544;
    background: none;
}

.title::before{
    content: '';
    background: #07080B;
    height: 0.2rem;
    width: 20rem;
    margin: 0 auto;
    display: block;
    transform: translateY(44px);
}

.title::after{
    content: '';
    background: #07080B;
    height: 0.7rem;
    width: 6.5rem;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 4rem;
    display: block;
    transform: translateY(1px);
}

.showcase{
    background-image: url('./images/background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100vh;
}

.navbar{
    position: fixed;
    width: 100%;
    margin: auto;
    padding: 3.5rem 10rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 999;
}
.navbar.sticky{
    padding: 1rem 10rem;
    background: #07080B;
    
}
.navbar .logo{
    color: #FEC544;
    font-size: 3rem;
}
/* //nav-link */
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin: 0rem 2rem;
    font-size: 1.3rem;
    text-transform: uppercase;
}

.navbar ul li span{
    color: #FEC544;
    border-left: 0.1rem solid #A9ADB8;
    padding-left: 2.5rem;
    padding-right: 0.5rem;
    text-align: center;
}
.navbar ul li a{
    color: #A9ADB8;
    font-weight: bold;
    transition: all 0.5s ease;
}

.navbar ul li a:hover{
    color: #FEC544;
}


.flags{
    width: 7.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.flags_item{
    width: 3rem;
}
.flags_img{
    cursor: pointer;
    display: block; /* To eliminate margin img */
}

/* Showcase content section */
.showcase-text{
    max-width: 80rem;
    padding-top: 25rem;
    padding-left: 12rem;
    color: #fff;
}
 .showcase-text .text-1{
    font-size: 2.7rem;
}
.showcase-text .text-2{
    font-size: 7.5rem;
    font-weight: 70rem;
}
.showcase-text .text-3{
    font-size: 4rem;
    margin: 0.5rem 0;
    font-weight: 70rem;
}
.showcase-text .text-3 span{
    color: #FEC544;
}
.showcase-img img{
    position: absolute;
    bottom: 0;
    right: 0;
    width: 50rem;
    height: 100%;
    object-fit: cover;
    opacity: 0.2;
    overflow: hidden;
}



/* About section content */

#about{
    background: #07080B;
    display: flex;
    flex-wrap: wrap;
}

.about .title::before{
    background: #FEC544;
}
.about .title::after{
    background: #FEC544;
}

.about h1{
    color: #6e6e70;
    text-align: center;
    font-size: 8rem;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}

.about h5{
    font-weight: 70rem;
    transform: translateY(-65px);
}

.about .about-content .column{
    margin-top: 4rem;
    max-width: 100%;
}
.about .about-content,
.services .service-content,
.skills .skill-content,
.contact .contact-content{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    transform: translateY(-60px);
}

.about .about-content .left{
    width: 55%;
    padding: 0 2rem;
    overflow: hidden;
}
.about .about-content .left img{
    height: 45rem;
    width: 45rem;
    object-fit: cover;
    border-radius: 50%;
}

.about .about-content .right{
    width: 45%;
    color: #A9ADB8;
}

.about .about-content .right .text{
    font-size: 3rem;
    font-weight: 70rem;
    margin-bottom: 1rem;
}
.about .about-content .right p{
    text-align: justify;
    font-size: 1.5rem;
}
.about .about-content .right .text span{
    color: #FEC544;
}
.about .about-content .right .table{
    width: 50rem;
    padding: 1rem 0;
    margin-left: 0px;
    font-size: 1.5rem;
}
.about .about-content .right .table td{
    padding: 1rem;
}

/* Services section styling */

#services{
    color: #A9ADB8;
    background: #FEC544;
}

.services h5{
    font-weight: 70rem;
    color: #07080B;
    transform: translateY(-65px);
}

.services h1{
    color: #07080B;
    text-align: center;
    font-size: 80px;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.services .service-content .main{
    width: calc(30% - 20px);
    min-height: 45rem;
    text-align: center;
    border-radius: 5px;
    position: relative;
    cursor: pointer;
}
.service{
    background: #07080B;
    padding: 3rem;
    border-radius: 1rem;
    position: absolute;
    bottom: 0;
    z-index: 1;
    transform: scale(1.05);
    box-shadow: 0 0 20px -15px #07080B;
    transition: transform 0.8s;
}
.service-logo{
    width: 13rem;
    height: 13rem;
    border-radius: 50%;
    margin: -90px auto 0;
    background: #07080B;
    border: 1.8rem solid #FEC544;
    transform: transform 1s;
}
.service-logo i{
    color: #FEC544;
    width: 5rem;
    margin-top: 4rem;
    font-size: 2.5rem;
}

.service h4{
    height: 2.8rem;
    width: 80%;
    background: #07080B;
    margin: 6rem auto;
    position: relative;
    font-size: 1.5rem;
}
.service h4::after{
    content: '';
    width: 4rem;
    height: 3rem;
    background: linear-gradient(to right, #07080B , #FEC544 );
    position: absolute;
    right: -5px;
    top: -5px;
    z-index: -1;
}
.service h4::before{
    content: '';
    width: 4rem;
    height: 3rem;
    background: linear-gradient(to right, #FEC544 , #07080B);
    position: absolute;
    left: -5px;
    bottom: -5px;
    z-index: -1;
}
.shadowone{
    height: 200px;
    width: 80%;
    background: #07080B;
    position: absolute;
    border-radius: 1rem;
    bottom: 0;
    left: 10%;
    z-index: -1;
    box-shadow: 0 0 2rem -15px #07080B;
    transition: transform 0.8s;
}
.shadowtwo{
    height: 20rem;
    width: 64%;
    background: #07080B;
    position: absolute;
    border-radius: 1rem;
    bottom: 0;
    left: 18%;
    z-index: -2;
}

.main:hover .service{
    transform: translateY(-50px);
}
.main:hover .shadowone{
    transform: translateY(-25px);
}

/* My Skills Section */

#skills{
    background: #07080B;
}

.skills h1{
    color: #6e6e70;
    text-align: center;
    font-size: 8rem;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.skills h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.skills .title::before{
    background: #FEC544;
}
.skills .title::after{
    background: #FEC544;
}

.skills .skill-content .column{
    margin-top: 4rem;
    width: calc(50% - 50px);
}

.skills .skill-content .left .text{
    font-size: 2.7rem;
    font-weight: 700;
    padding: 1rem 0;
    margin-bottom: 1rem;
    color: #FEC544;
}
.skills .skill-content .left p{
    color: #A9ADB8;
    text-align: justify;
    line-height: 1.4;
    padding-top: 1.5rem;
}
.skills .skill-content .left a{
    display: inline-block;
    background: #FEC544;
    color: #07080B;
    font-size: 1.8rem;
    font-weight: 700;
    padding: 0.8rem 1.6rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
    border: 0.2rem solid #FEC544;
    transition: all 0.3s ease;
}
.skills .skill-content .left a:hover{
    color: #FEC544;
    background: none;
}
.skills .skill-content .right .bars{
    margin-bottom: 2rem;
}
.skills .skill-content .right .info{
    display: flex;
    margin-bottom: 0.5rem;
    align-items: center;
    justify-content: space-between;
    color: #A9ADB8;
}
.skills .skill-content .right span{
    font-weight: 500;
    font-size: 1.8rem;
}

.skills .skill-content .right .line{
    height: 0.2rem;
    width: 100%;
    background: lightgray;
    position: relative;
}

.skills .skill-content .right .line::before{
    content: '';
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    background: #FEC544;
}

.skills .skill-content .right .ps::before{
    width: 65%;
}
.skills .skill-content .right .mg::before{
    width: 80%;
}
.skills .skill-content .right .axd::before{
    width: 50%;
}
.skills .skill-content .right .uxd::before{
    width: 90%;
}
.skills .skill-content .right .html::before{
    width: 99%;
}
.skills .skill-content .right .dm::before{
    width: 56%;
}

/* Team section styling */

#teams{
    color: #A9ADB8;
    background: #FEC544;
}

.teams h5{
    font-weight: 700;
    color: #07080B;
    transform: translateY(-65px);
}

.teams h1{
    color: #07080B;
    text-align: center;
    font-size: 8rem;
    transform: translateY(23px);
    opacity: 0.1;
    padding-top: -20px;
}

.teams .carousel .card{
    background: #07080B;
    border-radius: 0.5rem;
    padding: 2.5rem 3.5rem;
    text-align: center;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover{
    background: #15151a;
}
.teams .carousel .card .box{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    transition: all 0.3s ease;
}

.teams .carousel .card:hover .box{
    transform: scale(1.05);
}
.teams .carousel .card .text{
    font-size: 2.5rem;
    font-weight: 500;
    margin: 1rem 0 0.7rem 0;
}

.teams .carousel .card img{
    height: 15rem;
    width: 15rem;
    object-fit: cover;
    border-radius: 50%;
    border: 5px solid #FEC544;
    transition: all 0.3s ease;
}
.teams .carousel .card:hover img{
    border-color: #fff;
}

.owl-dots {
    text-align: center;
    margin-top: 2rem;
}
.owl-dot{
    height: 1.3rem;
    width: 1.3rem;
    margin: 0 0.5rem;
    background: #07080B !important;
    outline: none !important;
    border-radius: 50%;
    border: 0.2rem solid #07080B;
    transition: all 0.3s ease;
}


/* Contact Me Section */

section{
    padding: 4rem 0;
    background: #07080B;
}

.contact h1{
    color: #6e6e70;
    text-align: center;
    font-size: 8rem;
    transform: translateY(20px);
    opacity: 0.1;
    padding-top: -20px;
}
.contact h5{
    font-weight: 700;
    transform: translateY(-65px);
}
.contact .title::before{
    background: #FEC544;
}
.contact .title::after{
    background: #FEC544;
}
.contact .contact-content .column{
    margin-top: 4rem;
    width: calc(50% - 50px);
}
.contact .contact-content .left h2{
    font-size: 3rem;
    margin-bottom: 3rem;
    color: #A9ADB8;
}
.contact .contact-content .left .form-group input{
    width: 100%;
    padding: 1rem;
    margin: 1.5rem 0;
    border: 0.1rem solid #A9ADB8;
    background: #fff;
    border-radius: 0.5rem;
}
.contact .contact-content .left .form-group textarea{
    width: 100%;
    background: #fff;
    padding: 1rem;
    height: 15rem;
    margin-top: 2rem;
    border-radius: 0.5rem;
}
.contact .contact-content .left .btn-md{
    padding: 0.8rem 1.8rem;
    font-size: 1.6rem;
}

.contact .contact-content .right{
    color: #A9ADB8;
}
.contact .contact-content .right h2{
    font-size: 3rem;
    margin-bottom: 1.5rem;
}
.contact .contact-content .right p{
    line-height: 1.6;
}
.contact .contact-content .right .items{
    margin: 1rem 0;
}
.contact .contact-content .right .items .item{
    display: flex;
    align-items: center;
    padding: 1rem 0;
}
.contact .contact-content .right .items .item i{
    padding: 1.6rem;
    border: 1px solid #A9ADB8;
    border-radius: 50%;
    margin-right: 20px;
}
.contact .contact-content .right .items .item span{
    font-size: 1.4rem;
}
.contact .contact-content .right .links{
    overflow: hidden;
    padding: 1rem 0;
}
.contact .contact-content .right .links li{
    display: inline-block;
    list-style: none;
    padding-right: 1.5rem;
}
.contact .contact-content .right .links li a{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 2rem;
}
.container .card .box .github-code{
    color: #A9ADB8;
    text-decoration: none;
    transition: all 0.3s ease;
    font-size: 1rem;
    margin-top: 0.5rem;
}
.contact .contact-content .right .links li a,
.container .card .box .github-code:hover{
    color: #FEC544;
    transform: rotate(360deg);
}
#footer{
    text-align: center;
    background: #FEC544;
    padding: 3rem 0;
    color: #07080B;
    font-weight: 700;
}


/* Scroll up styling */
.scroll-up-btn{
    position: fixed;
    height: 4.5rem;
    width: 4.2rem;
    border: 0.1rem solid #fff;
    background: #07080B;
    right: 3rem;
    bottom: 1rem;
    text-align: center;
    line-height: 4.5rem;
    color: #fff;
    z-index: 9999;
    font-size: 3rem;
    border-radius: 0.6rem;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}

.scroll-up-btn.show{
    opacity: 1;
    pointer-events: auto;
    bottom: 3rem;
}
/* burger */
.burger div{
    width: 2.5rem;
    height: 0.3rem;    
    background-color:  rgb(226,226,226);
    margin: 0.5rem;
    transition: all 0.3s ease;
}
.burger{
    display: none;
}
.nav-active{
    transform: translateX(0%);
}
.toggle .line1{
    transform: rotate(-45deg) translate(-5px, 6px);
    
}
.toggle .line2{
    opacity: 0;
}
.toggle .line3{
    transform: rotate(45deg) translate(-5px, -6px);
}
/* cambios */
/* media queries  */

/* @media screen and (max-width:1155px) {
    /* body{
        display: none;
    } */
    /* .nav-links{
        width: 60%;
        /* display: none; */
      
    /* } */
    /* .burger{
        display: block;
    } */

    /* .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #07080B;
        width:100%
    } */
    /* .about .about-content .left img{
        height: 300px;
        width: 300px;
        object-fit: cover;
        border-radius: 50%;
    } */
    /* .about .about-content .right p{
        width: 600px;
    } */
    /* .container{
        width: 100%;
    } */
    /* .about .about-content .right {
        width: 100%;
        color: rgb(169, 173, 184);
    } */ 

    /* .text-secondary{
        color: #FEC544;
        align-items: center;
    }
    .flags{
        width: 75px;
        display: flex;
        align-items:initial;
        justify-content: space-between;
    } */
/* } */
/* @media screen and(max-width:768px) {
    body{
        overflow: hidden;
        
    }
    
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: white;
        display: flex;  
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);

    }
}
 */ 

@media (max-width:991px){
    html{
        font-size: 55%;
    }
}
 @media (max-width: 450px){
    html{
        font-size: 50%;
    }
    .nav-links{
        width: 60%;
    }
    .about .about-content{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: #07080B;
        width:100%
    }
    .about .about-content .left img{
        height: 12rem;
        width: 12rem;
        object-fit: cover;
        border-radius: 50%;
    } 

    .about .about-content .left{
        text-align: center;
        overflow: hidden;
        margin-left: auto;
        margin-right: auto;
    }
    .about .about-content .right{
        width: 60%;
        color: #A9ADB8;
    }
    .about .about-content .right .table{
        width: 30rem;
        padding: 1rem 0;
        margin-left: 0px;
        font-size: 1.5rem;
    }
    .download_cv {
        display: flex;
        flex-direction: column;
    }
    .services h1 {
        color: #07080B;
        text-align: center;
        font-size: 6rem;
        transform: translateY(23px);
        opacity: 0.1;
    }
    .about .about-content {
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    /* .about .about-content, .services .service-content, .skills .skill-content, .contact .contact-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 80%;
    } */
    .about .about-content, .services .service-content, .skills .skill-content, .contact .contact-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 100%;
    }
    .skills .skill-content .left p {
        
        width: 25rem;
    }
    /* .service {
        width: 20rem;
    } */
    .teams h1 {
        font-size: 5rem;
    }
    .contact .contact-content .column {
        width: 70%;
    }
    .services .service-content .main {
        
        width: 70%;
    }
    .skills .skill-content, .contact .contact-content {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        width: 70%;
    }
    .skills .skill-content .left a {
        width: 12rem;
    }
    .skills .skill-content .right .bars {
        width: 25rem;
    }
    .contact .contact-content{
        width: 45rem;
    }
    .skills .skill-content .left .text {
        
        width: 25rem;
    }
 }





